.successQuotationContainer {
  display: flex;
  /* flex-wrap: wrap; */
  background-color: white;
  padding-bottom: 40px;
  /* height: 600px; */
  flex-direction: inherit;
  margin-bottom: 5rem;
}

.section1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 50px;
  padding-inline: 10px;
  justify-content: center;
  min-width: 300px;
}

.section1 > div {
  text-align: center;
}

.section1 > div > h2 {
  color: #1D428A;
  font-weight: 600;
  margin-top: 15px;
}

.section1 > div > p {
  color: #1D428A;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
}

.shareContainer > p {
  font-weight: 600;
  margin-top: 20px;
}

.shareContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shareDiv img {
  background: white;
  padding: 3px;
  border-radius: 50%;
}

.shareDiv {
  display: flex;
  background: #4ac6bb;
  border-radius: 30px;
  padding: 6px 8px;
  font-size: 16px;
  align-items: center;
  color: white;
  width: 100%;
  justify-content: space-between;
  max-width: 360px;
  cursor: pointer;
  
}

.shareDiv > p {
  margin: 0;
  margin-inline: 10px;
  width: 12em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section2 {
  width: 50%;
  display: flex;
  padding-top: 50px;
  align-items: center;
}

.section2 > div {
  border: 2px solid #4ac6bb;
  border-radius: 10px;
  padding: 10px 18px;
  min-width: 330px;
}

.policySection {
  display: none;
}

.section2 > div > p {
  display: flex;
  justify-content: space-between;
  color: #1D428A;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

.section2 > div > .section2-details > div > p {
  color: #1D428A;
  font-size: 23px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section2 > div > p > span {
  background: #f68b1f;
  font-size: 11px;
  padding-inline: 10px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 2px 10px;
  height: 21px;
  border-radius: 5px;
  margin-right: -5px;
}

.section2 > div > .section2-details {
  position: relative;
}

.failDiv {
  display: block;
  position: absolute;
  top: 0px;
  left: 16px;
  text-align: center;
}

.section2 > div > .section2-details > .failDiv > p {
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.blur {
  filter: blur(8px);
}

.priceLabel {
  font-size: 17px;
  font-weight: 600;
  line-height: 120%
}

.priceValue {
  font-weight: 600;
}

.priceDiv {
  color: #262626;
  display: flex;
  justify-content: space-between;
}

.totalAmount {
  display: flex;
  justify-content: space-between;
}

.totalAmount p:first-child {
  color: #1D428A;
  font-size: 23px;
  font-weight: 600;
}

.totalAmount p:last-child {
  font-size: 23px;
  font-weight: 600;
  color: #262626;
}

.successBtn {
  background: #1D428A !important;
  color: white;
  border-radius: 10px;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 0;
  height: fit-content;
}
.successBtn:hover, .successBtn:focus, .successBtn:active{
  background: #1D428A !important;
  color: white;
}

.setOfbtn {
  display: flex;
  margin-top: 10px;
}

.share2 {
  display: none;
}

.quoteWhiteBtn {
  border: 1px solid #4A5F98;
  border-radius: 10px;
  color: #1D428A;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  margin: 10px 5px;
  height: auto;
  text-align: center;
}

.quoteBtnLight {
  display: flex;
  border: 1px dashed #d9d9d9;
  border-radius: 12px;
  width: 100%;
  margin: 10px 0px;
  padding: 10px 0;
  height: fit-content;
  justify-content: center;
}

.quoteBtnLight > span {
  margin-left: 10px;
}

.successHeaderMobile {
  display: none;
}

@media (width < 645px) {
  .successQuotationContainer {
    display: block;
  }

  .section1 {
    width: 100%;
    align-items: center;
  }

  .section2 {
    width: 100%;
    justify-content: center;
  }
}

@media (width < 432px) {
  .successHeaderPC {
    font-size: 26px;
  }

  .policySection {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #18191B;
    
  }

  .share1 {
    display: none;
  }

  .share2 {
    display: flex;
    margin-bottom: 18px;
  }

  .section1 > div > p {
    font-weight: 500;
    font-size: 16px;
   
  }

  .section2 > div > p{
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    top: 392px;
  }

  .section2 > div > p > span {
    height: 25px;
    padding: 4px 10px;
    margin-left: 5px;
    margin-top: 4px;
  }

  .section2 > div {
    border: none;
    width: 100%;
    min-width: none;
  }

  .blurMobileView{
    display: none !important; 
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-container{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: white;
  }
}
