.step1{
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid var(--neutrals-75, #C8CDD1);
    background: var(--neutrals-50, #E1E2E2);
    box-shadow: 0px 4px 14px 0px rgba(255, 255, 255, 0.05);
    width: 13px;
    height: 192px;
    flex-shrink: 0;

}
.inner-page{
    border-radius: 20px;
    background: var(--secondary-medium-turquoise, #4AC6BB);
    width: 12px;
    height: 66px;
    flex-shrink: 0;
}

.sidebarstep ul li{
    /* Overline 2 - Small */
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.98px;
text-transform: uppercase;
color: #000;
list-style-type: none;
margin-top: 2.4rem;
}

.sidebarstep{
    margin-top: 3rem;
}
.data1 h4{
    color: var(--neutrals-white, #FFF);
    text-align: center;
    
    /* Overline 2 - Small */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.98px;
    text-transform: uppercase;
    width: 20px;
height: 18px;
flex-shrink: 0;
background-color: #4AC6BB;
border-radius: 20px;
}
.data2 h4{
    color: var(--neutrals-white, #FFF);
    text-align: center;
    
    /* Overline 2 - Small */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.98px;
    text-transform: uppercase;
    width: 20px;
height: 18px;
flex-shrink: 0;
background-color: #A3ACB2;
border-radius: 20px;

}

.data1 p{
    color: var(--neutrals-250, #18191B);

/* Body 3 - Medium */
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 150%;
margin-left: 7px;
margin-bottom: 0px;
}
.steppa{
    margin-top: 20px;
}

@media (min-width: 320px) {
    
    .steppa{
        display: none;
    }
    .steppaMobile{
        display: block;
        
    }
    .stepdata{
        display: flex;
        justify-content: space-between;
        background: #fff;
        padding: 8px;
        margin-top: 68px;
        margin-left: -5px;
        width: 100vw;
        /* display: flex;
        justify-content: space-between;
        background: white;
    padding: 8px;
    border-radius: 12px;
    margin-top: 20px; */
/* subtle drop shadow */
box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.05);
    }
    .data1, .data2{
        display: flex;
    }
}
@media (min-width: 920px) {
    
    .steppa{
        display: flex;
    }

    .steppaMobile{
        display: none;
    }
    
    
}