/* comaun css */
.dashboard-button {
  background: #fff;
  /* Neutral/5 */
  border: 1px dashed #d9d9d9;
  /* drop-shadow/button-secondary */
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
  border-radius: 12px;
  /* justify-content: center;
  align-items: center;
  margin-top: 15px; */
}

.dashboard-button:hover {
  background: #fff;
  /* Neutral/5 */
  border: 1px dashed #d9d9d9;
  /* drop-shadow/button-secondary */
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.btn_Product {
  margin-top: 5px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  display: flex;
    justify-content: space-between;
      cursor: pointer; 
    font-weight: 800;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
    margin-right: 10px;
    font-size: 15px;
    height: 50px;
    padding: 12px 17px;
    color: #1D428A;
  margin-bottom: 5px;
}

.btn_product::selection {
  border: 2px solid var(--secondary-medium-turquoise, #4ac6bb);
}
/* media query */
.box-size {
  background-color: #fafafa;
}
@media (min-width: 320px) {
  .main-class {
    padding: 10px 15px;
    background-color: #f2f2f3;
  }
  .sidebar ul li {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
}
@media (min-width: 920px) {
  .main-class {
    padding: 20px 70px 70px 70px;
    background-color: #f2f2f3;
    margin-top: -10px;
  }
  .sidebar ul li {
    display: block;
    justify-content: space-around;
    margin-top: 2rem;
  }
}

.sidebar {
  margin-top: 5px;
}
.policy-header {
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 25px;
}
.dashboard-button {
  background: #ffffff;
  border: 1px dashed #d9d9d9;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 4px 15px;
}
.dashboard-button:hover {
  background: #ffffff;
  color: #000;
  border: 1px dashed #d9d9d9;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}
.sidebar ul {
  margin-left: -30px;
}
.sidebar ul li {
  /* Overline 2 - Small */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.98px;
  /* text-transform: uppercase; */
  color: #000;
  list-style-type: none;
}

.right-side {
  margin-top: 10px;
}
.policy-type h2 {
  color: var(--primary-oona-purple, #1D428A);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* text-transform: uppercase; */
  margin-top: 10px;
  margin-bottom: 30px !important;
}
.questionDiv {
  display: flex;
}
.questionDiv ul {
  margin-left: -15px;
  font-size: x-large;
  margin-bottom: 0px;
}
.questionDiv ul li {
  color: #1D428A;
}

.questionDiv ul li h3 {
  font-size: 25px;
  font-weight: 600;
  color: #1D428A;
  display: initial;
}

.next-button {
  display: flex;
  width: 7.8125rem;
  height: 3rem;
  padding: 0.4rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: #1D428A;
  border: 1px solid #1D428A;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 12px;
  padding: 0px 20px;
  color: #fff;
}

.next-button:hover, .next-button:focus, .next-button:active {
  background: #1D428A;
  border: 1px solid #1D428A;
  color: #fff;
}

.prev-button {
  display: flex;
  width: 7.8125rem;
  height: 3rem;
  padding: 0.4rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: #fff;
  border: 1px solid #1D428A;
  margin-right: 10px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 12px;
  padding: 0px 20px;
  color: #1D428A;
}

.prev-button:hover, .prev-button:focus, .prev-button:active {
  background: #fff;
  border: 1px solid #1D428A;
  color: #1D428A;
}

.button-header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  flex: 1 0 0;
  align-self: stretch;
  margin-bottom: 5rem;
}

.ant-col-24.ant-form-item-label {
  font-weight: 600;
}

.label h6 {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop - Title 2 */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
  padding-top: 10px;
  padding-bottom: 10px;
}
.important {
  color: red;
}


@media (max-width: 767px) {
  .policy-type h2 {
   
    height: 100px;
    width: 100vw;
    padding: 1.5rem;
    position: absolute;
    top: -9rem;
    text-transform: none;
    font-size: 1.5625rem;
    background: #fff;
    margin-left: -24px;
    margin-top: 8px;
  }
  .prev-button{
    width: 9rem;
  }
  .next-button{
    width: 9rem;
  }
}

.loss-damage-button{
  border: none;
  background-color: #fff;
  height: 100%;
  font-weight: bold;
}
.Coverage-class-var{
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
}
.button-losss{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #1D428A;
  border-color: #1D428A;
}
.info-head h3{
  color: #1D428A;
  font-size: 22px;
    font-weight: bold;
}
.info-head{
  margin-bottom: 10px;
}