/* media query */
.box-size {
  background-color: #fafafa;
}
@media (min-width: 320px) {
  .main-class {
    padding: 10px 15px;
    background-color: #f2f2f3;
  }
  .sidebar ul li {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .right-side {
    margin-top: 10px;
    padding: 20px 0px 70px 0px;
  }
  .button-header {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
  }
  .policy-type h2 {
    color: var(--primary-oona-purple, #1D428A);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* text-transform: capitalize; */
    margin-top: 10px;
    margin-bottom: 20px !important;
  }
}
@media (min-width: 920px) {
  .main-class {
    padding: 20px 70px 70px 70px;
    background-color: #f2f2f3;
    margin-top: -10px;
  }
  .sidebar ul li {
    display: block;
    justify-content: space-around;
    margin-top: 2rem;
  }
  .right-side {
    margin-top: 10px;
    padding: 20px 0px 20px 0px;
  }
  .button-header {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
  }

  .policy-type h2 {
    color: var(--primary-oona-purple, #1D428A);
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* text-transform: capitalize; */
    margin-top: 10px;
    letter-spacing: 2.24px;
    margin-bottom: 30px !important;
  }
}

.sidebar {
  margin-top: 5px;
}
.policy-header {
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 25px;
}
.dashboard-button {
  display: flex;
  border: 1px dashed #d9d9d9;
  height: 2.5rem;
  padding: 0.4rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 1.1375rem */
  letter-spacing: 0.00875rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 1.1375rem */
  letter-spacing: 0.00875rem;
}
.dashboard-button:hover {
  background: #ffffff;
  color: #000;
  border: 1px dashed #d9d9d9;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
  /* border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 4px 15px;
  margin-top: 15px; */
}
.sidebar ul {
  margin-left: -30px;
}
.sidebar ul li {
  /* Overline 2 - Small */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.98px;
  text-transform: uppercase;
  color: #000;
  list-style-type: none;
}

.questionDiv {
  display: flex;
}
.questionDiv ul {
  margin-left: -15px;
  font-size: x-large;
  margin-bottom: 0px;
}
.questionDiv ul li {
  color: #1D428A;
}

.questionDiv h3 {
  font-size: 25px;
  font-weight: 600;
  color: #1D428A;
  display: initial;
}

.next-button {
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: #1D428A;
  border: 1px solid #1D428A;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 12px;
  padding: 0px 20px;
  color: #fff;
  width: 8rem;
  height: 48px;
  padding: 6.4px 16px;
}

.next-button:hover, .next-button:active, .next-button:focus {
  justify-content: center;
  align-items: center;
  background: #1D428A;
  border: 1px solid #1D428A;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 12px;
  color: #fff;
}

.prev-button {
  display: flex;
  height: 48px;
  padding: 6.4px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #4A5F98;
  background: #fff;
  color: #1D428A;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
  width: 8rem;
}

.prev-button:hover, .prev-button:focus, .prev-button:active {
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #1D428A;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 12px;
  color: #1D428A;
}

.ant-col-24.ant-form-item-label {
  font-weight: 600;
}
.RsPolicyDiv {
  margin-top: 1rem;
  width: 784px;
  padding: 24px 16px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
}
@media (max-width: 767px) {
  .policy-type h2 {
    text-transform: none;
    font-size: 1.5625rem;
    padding: 0.5rem 1rem;
    position: absolute;
    top: -131px;
    background: #fff;
    font-size: 24px;
    width: 100vw;
    margin-left: -10px;
    height: 86px;
  }
  .dashboard-button {
    display: none;
  }
  .RsPolicyDiv {
    width: 21rem;
  }
}
@media(min-width:768px)and(max-width:1023px){
  .RsPolicyDiv{
    width: 520px;
  }
}