.Extitle h4{
    color: #343D46;
    /* Desktop - Subheading 1 */
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}

.foreignCard{
width: 100%;
height: 125px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #DCD6E9;
background: #FFF;
padding: 10px;
margin-top: 10px;
margin-bottom: 10px;
}
.card-parent {
    display: flex;
    justify-content: space-between;
}

.child-for-ph p{
    color: #343D46;
    /* Body 3 - Medium */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    opacity: 0.5;
}
.child-for-ph h4{
color: #000;
/* Desktop - Subheading 1 */
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 120%;
}
.child-for-ph{
    margin-top: 15px;
}
.child-for img {
    margin-top: 15px;
}

@media (min-width: 920px) {
    .child-for-ph h4{
        color: #000;
        /* Desktop - Subheading 1 */
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        }
  }

  @media (min-width: 320px) {
    .child-for-ph h4{
        color: #000;
        /* Desktop - Subheading 1 */
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        }
  }