.rsmaindivv {
    background-color: #fff;
  
    height: 100vh;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  
  .success_img {
    max-width: 100vh;
    max-height: 100vh;
  }
  .success_msg {
    color: var(--primary-oona-purple, #1D428A);
    text-align: center;
    font-size: 51px;
  
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
  }
  .success_msg2 {
    display: flex;
    /* width: 383px; */
    flex-direction: column;
    flex-shrink: 0;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.25rem;
    color: #18191b;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
  
  .success_msg3 {
    color: var(--neutrals-250, #18191b);
    text-align: center;
    margin-top: 1rem;
  
    font-size: 14px;
  
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .btn_parent {
    display: flex;
  
    margin-top: 1rem;
    display: flex;
    height: 40px;
    padding: 6.4px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .back_btn {
    display: flex;
  height: 2.5rem;
  padding: 0.4rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
    border-radius: 12px;
    border: 1px dashed, #d9d9d9;
    background: #fff;
    font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 1.1375rem */
  letter-spacing: 0.00875rem;
  
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
  }
  .back_btn:hover {
    border: 1px dashed, #d9d9d9;
    background: #fff;
    color: #000;
  }
  .print_btn {
    display: flex;
  height: 2.5rem;
  padding: 0.4rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
    border-radius: 12px;
    border: 1px solid #1D428A;
    background: #1D428A;
  
    color: #ffffff;
    font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 1.1375rem */
  letter-spacing: 0.00875rem;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  }
  .print_btn:hover {
    border: 1px solid #1D428A;
    background: #1D428A;
    color: white;
  }
  .link_box {
    text-align: center;
    margin-top: 1rem;
  }
  
  .link {
    display: inline-block;
    width: 22rem;
    height: 44px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #343d46;
    background: #fff;
  }
  .img{
    margin-left: 5rem;
  }
  @media (max-width: 767px) {
    .btn_parent{
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
    }
    .back_btn{
      display: flex;
      height: 2.5rem;
      width: 22rem;
      padding: 0.4rem 1rem;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      flex: 1 0 0;
    }
    .print_btn{
      display: flex;
      height: 2.5rem;
      width: 22rem;
      padding: 0.4rem 1rem;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      flex: 1 0 0;
    }
    /* .link{
      display: flex;
      width: 21rem;
  height: 2.75rem;
  padding: 0.625rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
    } */
  }
  